*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}
body{
    background: rgb(150,240,29);
    background: rgb(73,9,57);
    background: radial-gradient(circle, rgba(73,9,57,1) 37%, rgba(0,0,0,1) 100%);    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* navegacion */
.nav-cv > nav{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #000;
}

.nav-cv > nav > a{
    color: rgb(255, 230, 0);
    font-weight: 200;
    text-decoration: none;
    margin-right: 10px;
}
  
.nav-cv nav >a:hover{
    text-decoration: underline;
}

/* .buttom{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: black;
    font-weight: 900;
    background: rgb(78, 76, 76);
    margin-top: 50px;
}
.btn-exe{
    background: #000;
    color: #1eff05;
    width: 300px;
    
} */

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    border:  3px solid #1eff05;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,1);
}
.container .left_side{
    position: relative;
    background: rgb(36, 36, 36);
    padding: 40px;
}
.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 217, 0);
}
.profiletext .imgbx{
    position: relative;
    width: 200px;
    height: 200px;
    border: 8px solid #ff0571;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
    color: aqua;
}

.contactinfo{
    padding-top: 40px;
}
.tittle{
    color: #c2ff05;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}
.contactinfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: yellow;
}

.contactinfo ul li span{
    color: white;
    font-weight: 300;
}

.contactinfo.education li{
margin-bottom: 15px;
}

.contactinfo.education h5{
    color: yellow;
    font-weight: 500;

}

.contactinfo.education h4:nth-child(2){
    color: white;
    font-weight: 500;
}

.contactinfo.education h4{
    color: white;
    font-weight: 300;
}

.contactinfo.language .percent{
position: relative;
width: 100%;
height: 6px;
background: rgba(21, 255, 0, 0.301);
display: block;
margin-top: 5px;
}

.contactinfo.language .percent div{
    position: absolute;
    top:0;
    height: 100%;
    background: rgb(255, 251, 0);
}






.container .right_side{
    position: relative;
    background: rgb(0, 0, 0);
    padding: 40px;
}

.about{
    margin-bottom: 50px;

}
.about:last-child{
    margin-bottom: 0;
}
.tittle2{
    color:#9a27f7;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2b97fa;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.skills .box  .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.568);
}
.skills .box  .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #01c4e7;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa{
    color: #ff0571;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);

    }
}
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);

    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}